<!DOCTYPE html>
<html>
    <head>
        <title>PDP Finder Tool</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>PDP FINDER</h1>
        <span class="label">Enter zipcode: </span>
        <input type="text" id="zipcode">
        <button type="button" onclick="get_pdp_region_code();">GET PDP REGION CODE</button>
        <div id="pdp_region_code"></div> <!-- PDP REGION CODE PRINTED HERE-->
        <br>
        <div id="enter_drugs" style="display: none;">
          <span class="label">Enter number of drugs you wish to search: </span>
          <input type="number" max="20" min="1" id="numdrugs">
          <button type="button" onclick="renderDrugSearch();">GO</button>
          <div id="drug_search_fields"></div> <!-- drug search and selection rendered here -->
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='search.js')}}"></script>
</html>
