<!DOCTYPE html>
<html>
    <head>
        <title>PDP Finder Tool</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1>PDP FINDER</h1>
        <span class="label">Enter zipcode: </span>
        <input type="text" id="zipcode">
        <button type="button" onclick="get_pdp_region_code();">GET PDP REGION CODE</button>
        <div id="pdp_region_code"></div> <!-- PDP REGION CODE PRINTED HERE-->
        <br>
        <div id="enter_drugs" style="display: none;">
          <span class="label">Enter number of drugs you wish to search: </span>
          <input type="number" max="20" min="1" id="numdrugs">
          <button type="button" onclick="renderDrugSearch();">GO</button>
          <div id="drug_search_fields"></div> <!-- drug search and selection rendered here -->
          <div id="results"></div>
          <ul id="drug_set"></ul>
          <br>
          <button id='find_formularies' onclick="fetch_formularies();">FETCH FORMULARIES</button>
          <button id='clear_all_data' onclick="clear_data();">CLEAR</button>
          <br>
          <div id='formularies'></div>
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='search.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>

